<%= render partial: "shared/nav" %>


<%= form_tag sessions_path, :class => "login-form" do |form| %>
  <h1 class="title-user">Login</h1>
  <p><%= alert %></p>
  <div class=login-label”>
    <%= label_tag :email, "Usuario", class: "login-label-text" %>
    <%= text_field_tag :email, nil, class: "login-input-field" %>
  </div>
  <div class=login-label”>
    <%= label_tag :password, "Senha", class: "login-label-text" %>
    <%= password_field_tag :password, nil, class: "login-input-field" %>
  </div>
  <div class="login-button-label">
    <%= submit_tag 'Login', class: "login-button" %>
  </div>
<% end %>