<%= form_with(model: user, local: true, class: "form form-signup") do |form| %>
  <h1 class="form-title-signup">Perfil</h1>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "erro") %> encontrado(s)</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label">
    <%= form.label "Nome", :class => "label-text" %>
    <%= form.text_field :name, :class => "input-field", :placeholder => "Obrigatorio"  %>
  </div>

  <div class="label">
    <%= form.label "Email", :class => "label-text" %>
    <%= form.text_field :email, :class => "input-field", :placeholder => "Obrigatorio"  %>
  </div>

  <div class="label">
    <%= form.label "Senha", :class => "label-text" %>
    <%= form.password_field :password, :class => "input-field", :placeholder => "Obrigatorio"  %>
  </div>

  <div class="label">
    <%= form.label "Confirmação de senha", :class => "label-text" %>
    <%= form.password_field :password_confirmation, :class => "input-field", :placeholder => "Obrigatorio"  %>
  </div>

  <div class="submit-label">
    <button class="submit-button">
      <i class="material-icons">
        done
      </i>
    </button>
  </div>
<% end %>
