<%= render partial: "/shared/nav" %>

<div class="user-show-container">
	<i class="material-icons icon">person</i>
	<span class="user-show-title">Suas informações</span>
	<div class="information">
		<div>Email: <%= @user.email %></div>
	</div>
	<%= link_to 'Editar', edit_user_path(@user), class: "edit-user-button" %>
	<div id="separate-infos">&nbsp</div>	
	<span class="user-show-title margin-bottom-title">Suas doações</span>
</div>
<div class="user-donations">
	<% if current_user %>
		<% if current_user.donations.length == 0 %>
			<span class="no-donations-msg">Não há doações feitas por você...</span>
		<% else %>
			<% current_user.donations.each do |donation| %>
				<div class="user-donation-container">
					<%= link_to donation_path(donation), :class => "donation-link" do %>
						<div class="user-donation">
							<div class="us-don-image-container">
						        <% if donation.images.attached? %>
						            <%= image_tag(donation.images[0], :class => "us-don-image") %>
						        <% else %>
						          <%= image_tag("picture", :class => "us-don-no-image") %>
						        <% end%> 
				    	  	</div>
				    	    <div class="us-don-text">
						        <h1 class = "us-don-title"><%= donation.title %></h2>
						        <div class="us-don-description">
						            <p class="us-don-description-paragraph"><%= donation.description %></p>
						        </div>
				        	</div>
						</div>
					<% end %>
		        	<div class="us-don-options">
		        		<%= link_to 'Editar', edit_donation_path(donation), class: "us-don-button button-edit" %>
						    <%= link_to 'Deletar', donation, method: :delete, data: { confirm: 'Tem certeza?'}, class: "us-don-button button-delete" %>
		        	</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>