<head>
<style>
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
</style>

</head>
<nav>
    <%= link_to "Doaki", root_path, :class => "logo" %>
    <div>
        <input type="text" placeholder="O que está procurando?" class="nav-search">
        <button class="nav-button-search">
            <i class="material-icons search-icon">search</i>
        </button>
    </div>
        <ul class="nav-buttons-list">
            <% if current_user %>
                <!-- <%= button_to "DOAR", new_donation_path, form_class: "form-button", :class => "logged donation-button", :method => :get%> -->
                <%= link_to 'Log Out', logout_path, :class => "nav-buttons" %>
                <i class="material-icons md-36 profile-icon">account_circle</i>
            <% else %>
                <%= link_to "Sign Up", signup_path, :class => "nav-buttons sing-up" %>
                <span class="separate">&nbsp</span>
                <%= link_to "Log in", login_path, :class => "nav-buttons sing-up" %>
            <% end %>
        </ul>
</nav>

