<%= render partial: "/shared/nav" %>

<div class="donation-list">
    <% @donations.each do |donation| %>
      <div class="donation-each">
      	<div class="donation-image-container">
	        <% if donation.images.attached? %>
	          <%= image_tag(donation.images[0], :class => "donation-image") %>
	        <% else %>
	          <%= image_tag("https://image.flaticon.com/icons/svg/149/149092.svg", :class => "donation-no-image") %>
	        <% end%>
      	</div>
        <div class="donation-text">
          <h2><%= donation.title %></h2>
          <p><%= donation.description %></p>
        </div>
      </div>
    <% end %>
    <p id=”notice”><%= notice %></p>
</div>