<%= render partial: "/shared/nav" %>

<div class="donation-list">
    <% @donations.each do |donation| %>
      <div class="donation-each" data-id ="<%=donation.id%>">
      	<div class="donation-image-container">
	        <% if donation.images.attached? %>
	            <%= image_tag(donation.images[0], :class => "donation-image") %>
	        <% else %>
	          <%= image_tag("picture", :class => "donation-no-image") %>
	        <% end%>
      	</div>
        <div class="donation-text">
          <h1 class = "donation-title"><%= donation.title %></h2>
          <div class="donation-description">
            <p><%= donation.description %></p>
          </div>
        </div>
      </div>
    <% end %>
    <%= javascript_include_tag('index.js') %>
</div>