<%= form_with(model: donation, local: true, class: "forms") do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, :class => "label" %>
    <%= form.text_field :title, :class => "input_field" %>
  </div>

  <div class="field">
    <%= form.label :description, :class => "label" %>
    <%= form.text_area :description, :class => "input_field" %>
  </div>

  <div class="field">
    <%= form.label :street, :class => "label" %>
    <%= form.text_field :street, :class => "input_field" %>
  </div>

  <div class="field">
    <%= form.label :detail, :class => "label" %>
    <%= form.text_field :detail, :class => "input_field" %>
  </div>

  <div class="field">
    <%= form.label :zip, :class => "label" %>
    <%= form.text_field :zip, :class => "input_field" %>
  </div>

  <div class="field">
    <%= form.label :phone, :class => "label" %>
    <%= form.text_field :phone, :class => "input_field" %>
  </div>

  <div class="field">
    <%= form.label :email, :class => "label" %>
    <%= form.text_field :email, :class => "input_field"%>
  </div>

  <div class="actions">
    <%= form.submit :class => "create_donation_button" %>
  </div>
<% end %>
