<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<%= form_with(model: donation, local: true, class: "form") do |form| %>

  <h1 class="form-title">Crie sua Doação</h1>

  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> Erro ao criar doação </h2>
      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label">
    <%= form.label :title, :class => "label-text" %>
    <%= form.text_field :title, :class => "input-field", :placeholder => "Obrigatorio" %>
  </div>

  <div class="label">
    <%= form.label :street, :class => "label-text" %>
    <%= form.text_field :street, :class => "input-field" %>
  </div>

  <div class="label">
    <%= form.label :images, :class => "label-text" %>
    <div class="file-label">
      <input type="text" name="file" id="file" class="input-file" placeholder="Arquivo" 
      readonly="readonly">
      <label class="file-button">
        <i class="material-icons">
          add_a_photo
        </i>
      </label>
    </div>
    <%= form.file_field :images, multiple: true, :id => "file-field", :class => "file-field"%>
  </div>

  <div class="label">
    <%= form.label :detail, :class => "label-text" %>
    <%= form.text_field :detail, :class => "input-field" %>
  </div>

  <div class="label">
    <%= form.label :zip, :class => "label-text" %>
    <%= form.text_field :zip, :class => "input-field" , :placeholder => "Obrigatorio. Formato esperado: xxxxx-xxx"%>
  </div>

  <div class="label">
    <%= form.label :phone, :class => "label-text" %>
    <%= form.text_field :phone, :class => "input-field", :placeholder => "Obrigatorio. Formato esperado : 11999999999 ou 11xxxxxxxx" %>
  </div>

  <div class="label">
    <%= form.label :email, :class => "label-text" %>
    <%= form.text_field :email, :class => "input-field", :placeholder => "Obrigatorio. Formato esperado  : user@email.com(.br)" %>
  </div>

  <div class="label">
    <%= form.label :description, :class => "label-text" %>
    <%= form.text_area :description, :class => "input-field input-description", :placeholder => "Obrigatorio" %>
  </div>

  <div class="submit-label">
    <button class="submit-button">
      <i class="material-icons">
        done
      </i>
    </button>
  </div>

<%end%>

<script>
  // function readURL(input) {
  //     if (input.files && input.files[0]) {
  //         let reader = new FileReader();
  //         // <div class="image-container-form">
  //           // <img src="" alt="" class="donation-image-form">
  //         // </div>
  //         let container = `
  //               <img src='' alt='' class='donation-image-form'>
  //         `
  //         $(".image-container-form").append(container)
          
  //         reader.onload = function (e) {
  //             console.log(input.files[0])
  //             $('.donation-image-form').attr('src', e.target.result);
  //         }

  //         reader.readAsDataURL(input.files[0]);
  //     }
  // }
$(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview).attr('class', 'donation-image-form');
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };

    let divContainer = `<div class="image-container-form">
                        </div>
                        `
    $('.file-field').on('change', function() {
      console.log('changed')
      $(divContainer).insertAfter('.file-field')
    })
    $('.file-field').on('change', function() {
        imagesPreview(this, '.image-container-form');
    });
});


  // $(".file-field").change(function(){
      // readURL(this);
  // });


  $('.file-button').on('click', function() {
    $('.file-field').trigger('click');
  });

  $('.file-field').on('change', function() {
    var fileName = $(this)[0].files[0].name;
    $('#file').val(fileName);
  });
</script>