<%= form_with(model: donation, local: true, class: "form") do |form| %>

  <h1 class="form-title">Doação</h1>

  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "erro") %> ao criar doação </h2>
      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label">
    <%= form.label "Titulo", :class => "label-text" %>
    <%= form.text_field :title, :class => "input-field", :placeholder => "Obrigatorio" %>
  </div>

  <div class="label">
    <%= form.label "Endereço de entrega", :class => "label-text" %>
    <%= form.text_field :street, :class => "input-field" %>
  </div>

  <% if @aviso %>
    <p class="aviso-imagens"><%= @aviso %></p>
  <% end %>

  <div class="label">
    <%= form.label "Fotos", :class => "label-text" %>
    <div class="file-label">
      <input type="text" name="file" id="file" class="input-file" placeholder="Para selecionar múltiplas imagens, utilize a tecla shift" 
      readonly="readonly">
      <label class="file-button">
        <i class="material-icons">
          add_a_photo
        </i>
      </label>
    </div>
    <%= form.file_field :images, multiple: true, :id => "file-field", :class => "file-field"%>
  </div>

  <div class="label">
    <%= form.label "Complemento", :class => "label-text" %>
    <%= form.text_field :detail, :class => "input-field" %>
  </div>

  <div class="label">
    <%= form.label "CEP", :class => "label-text" %>
    <%= form.text_field :zip, :class => "input-field" , :placeholder => "Obrigatorio. Formato esperado: xxxxx-xxx"%>
  </div>

  <div class="label">
    <%= form.label "Telefone", :class => "label-text" %>
    <%= form.text_field :phone, :class => "input-field", :placeholder => "Obrigatorio. Formato esperado: 11999999999 ou 11xxxxxxxx" %>
  </div>

  <div class="label">
    <%= form.label "Descrição", :class => "label-text" %>
    <%= form.text_area :description, :class => "input-field input-description", :placeholder => "Obrigatorio" %>
  </div>

  <div class="submit-label">
    <button class="submit-button">
      <i class="material-icons">
        done
      </i>
    </button>
  </div>
<%end%>

<%= javascript_include_tag('newDonation.js') %>