<%= render partial: "shared/nav" %>

<header class="donations-header">
  <h1 class="title">Doações</h1>
  <%= link_to 'Doe', new_donation_path, class: "don-button" %>
</header>

<div class="donations">
    <% @donations.each do |donation| %>
      <div class="donation">
        <div class="donation-image-cont">
          <% if donation.images.attached? %>
            <%= image_tag(donation.images[0], :class => "image") %>
          <% else %>
          <%= image_tag("https://image.flaticon.com/icons/svg/149/149092.svg", :class => "no-image") %>
          <% end %>
        </div>
        <div class="donation-about">
          <h2><%= donation.title%></h2>
          <p><%=donation.description%></p>
        </div>
      </div>
    <% end %>
</div>
