<%= render partial: "shared/nav" %>


<!-- <p id="notice"><%= notice %></p> -->
<header class="donation-header donation-flex-row-wrap">
  <h1 class="title donation-flex-row-wrap">Donations</h1>
  <h1><%= link_to 'New Donation', new_donation_path %></h1>
</header>

<div class="donations donation-flex-column-nowrap">
    <% @donations.each do |donation| %>
      <div class="donation donation-flex-row-wrap">
        <% if donation.image.attached? %>
          <%= image_tag(donation.image, :style => "width: 300px") %>
        <% else %>
          <div>
          <%= image_tag("https://image.flaticon.com/icons/svg/149/149092.svg", :style => "width: 300px") %>
          </div>
        <% end%>
        <div class="donation-about donation-flex-column-nowrap">
          <h2><%= donation.title%></h2>
          <p><%=donation.description%></p>
          <div class ="donation-options donation-flex-row-wrap">
            <%= link_to 'Show', donation %>
            <%= link_to 'Edit', edit_donation_path(donation) %>
            <%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
</div>
