<%= render partial: "shared/nav" %>
<head>
  <link rel="stylesheet" type="text/css" href="show-donation.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<div class="container">
  <div class="photo-container">
    <%= image_tag(@donation.image, :class => "photo") %>
  </div>
  </span>
  <div class="container-infos">
    <p class="title-donation">
      <%= @donation.title %>
    </p>


    <p class="infos-donation">
      <%= @donation.street %>
    </p>

    <%# <span class="personal-infos"> %>

      <p class="infos-donation">
        <%= @donation.phone %>, 
        <%= @donation.email %>
      </p>
    <%# </span> %>


    <p class="description">
      <%= @donation.description %>
    </p>
  </div>
    
</div>

