<%= render partial: "shared/nav" %>
<head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<div class="container">
  <div class="photo-container">
    <% if @donation.images.attached? %>
      <% (0...@donation.images.count).each do |index| %>
      <%= image_tag(@donation.images[index], :class => "photo") %>
      <% end %>
    <% else %> 
      <%= image_tag("picture.png", :class =>"no-image") %>
    <% end %>
  </div>
  <div class="container-infos">
    <p class="title-donation">
      <%= @donation.title %>
    </p>

    <p class="infos-donation">
      <strong>Local:</strong>  <%= @donation.street %>
    </p>

    <p class="infos-donation">
      <strong>Telefone:</strong>  <%= @donation.phone %> 
    </p>

    <p class="infos-donation">
      <strong>Email:</strong>  <%= @donation.email %>
    </p>

    <p class="description-title">
      <strong>Descrição da Doação:</strong>
    </p>

    <p class="description">
      <%= @donation.description %>
    </p>
  </div>
</div>
<div class="comments-container">
  <h2 class="comments-title">Comentários</h2>
  <div class="all-comments">
    <% @comments.each do |comment| %>
      <% comment.donation = @donation %>
      <div class="comment">
        <p class="user-name-comment"><%= comment.user.name %></p>
        <div class="comment-body">
          <p><%= comment.body %></p>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
  <% if current_user %>
    <div class="create-comment">
      <%= render partial: 'comments/form', locals: { comment: @comment }, :class => "comment-input" %>
    </div>
  <% else %>
    <p class="not-logged-comment-message">Você precisa estar logado para comentar.</p>
  <% end %>
</div>
