<%= render partial: "shared/nav" %>
<head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<div class="container">
  <div class="photo-container">
    <% if @donation.images.attached? %>
      <% (0...@donation.images.count).each do |index| %>
      <%= image_tag(@donation.images[index], :class => "photo") %>
      <% end %>
    <% end %>
  </div>
  </span>
  <div class="container-infos">
    <p class="title-donation">
      <%= @donation.title %>
    </p>


    <p class="infos-donation">
      <%= @donation.street %>
    </p>

    <%# <span class="personal-infos"> %>

      <p class="infos-donation">
        <%= @donation.phone %>, 
        <%= @donation.email %>
      </p>
    <%# </span> %>


    <p class="description">
      <%= @donation.description %>
    </p>
  </div>
    
</div>

